$primary-color: #0064ef;
$white: #ffffff;
$grey300: #535861;
$grey200: #909ba9;
$grey100: #ebeaf0;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;

  .wrapper {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid $grey100;
    padding: 20px 15px;

    &__folded {
      width: 125px;
    }

    .logo {
      display: flex;
      justify-content: center;
      gap: 10px;

      &__folded {
        img:nth-child(2) {
          display: none;
        }
      }
    }

    .nav {
      margin-top: 20px;
      list-style: none;
      color: $grey300;
      min-width: 50px;

      &__item {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        padding: 15px;
        margin: 5px 0;
        cursor: pointer;

        &__drop__icon {
          margin-left: 10px;
          color: $grey200;
        }

        &__sublist {
          padding: 10px 30px 0;
          list-style: disc;

          li {
            font-weight: 400;
            padding: 5px;

            &[data-badge] {
              font-weight: 700;

              &::after {
                content: attr(data-badge);
                width: 20px;
                height: 20px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background-color: $primary-color;
                color: $white;
                font-size: 12px;
                margin-left: 5px;
                border-radius: 50%;
              }
            }
          }
        }

        .hidden {
          display: none;
        }

        &__folded {
          width: 50%;
          margin: 0 auto;
          padding: 15px;

          &[data-badge]::after {
            content: attr(data-badge);
            min-width: 17px;
            height: 20px;
            display: flex;
            justify-self: center;
            align-items: center;
            position: absolute;
            top: 50%;
            right: -35px;
            transform: translateY(-50%);
            background-color: $white;
            color: $grey300;
            padding: 2px 5px;
            border-radius: 3px;
            border: 1px solid #c7ccd5;
          }

          span {
            display: none;
          }

          .nav__item__icon {
            margin: 0 auto;
          }
        }

        &__icon {
          width: 20px;
          height: 20px;
          background-position: center;
          background-repeat: no-repeat;
          margin-right: 10px;
        }

        &--active {
          background-color: #edf4ff;
          color: $primary-color;
          border-radius: 10px;

          .nav__item__icon {
            filter: invert(28%) sepia(97%) saturate(3937%) hue-rotate(208deg) brightness(96%)
              contrast(102%);
          }

          .nav__item__drop__icon {
            color: $primary-color;
          }
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: $grey200;
      font-size: 14px;
      font-weight: 400;
      padding: 10px 0;
      margin-top: auto;

      .fold {
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: $white;
        border: 1px solid $grey100;
        border-radius: 10px;
        cursor: pointer;

        &::after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 10px;
          opacity: 0;
          box-shadow: 0 4px 4px rgba(00, 00, 00, 0.25);
          transition: opacity 0.3s ease;
        }

        &:hover::after {
          opacity: 1;
        }

        &__tooltip {
          width: 90px;
          height: 30px;
          position: absolute;
          top: -50px;
          left: 50%;
          transform: translateX(-50%);
          background-color: $primary-color;
          color: $white;
          font-size: 12px;
          font-weight: 700;
          padding: 7px 12px;
          border-radius: 8px;
          box-shadow: 0 4px 4px rgba(00, 00, 00, 0.5);
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.3s ease;

          &::after {
            content: '';
            width: 8px;
            height: 8px;
            position: absolute;
            bottom: -4px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
            background-color: $primary-color;
            box-shadow: 4px 4px 4px rgba(00, 00, 00, 0.5);
            z-index: -1;
          }
        }

        &:hover .fold__tooltip {
          visibility: visible;
          opacity: 1;
        }
      }

      &__folded {
        & > span {
          display: none;
        }

        .fold {
          background-color: $primary-color;

          img {
            filter: brightness(0) invert(1);
            transform: rotate(180deg);
          }
        }

        .fold__tooltip {
          padding: 7px 0;
        }
      }
    }
  }
}
